html{

  height:100%;
  margin:0;
}

body{ 
    height:100%;
    padding-top:100px;
}

body {
  background: url(https://github.com/ritik17499/eclectica19/blob/master/Family-Quotes-Collage.jpg?raw=true);

}



img {
  display: none;
}
#navu {
  overflow: hidden;
  background-color: #333;
}

#navu a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}


.content {
  padding: 16px;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
